body {
    background-image: url("Home.jpg");
    background-size: 90pc;
}
button {
    background-color: transparent;
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 25px;
    border-radius: 25px;
    border-color: transparent;
}
.y1 {
    background-color: purple;
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 25px;
    border-radius: 25px;
    border-color: transparent;
    margin-left: 13%;
}
.y2 {
    background-color: purple;
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 25px;
    border-radius: 25px;
    border-color: transparent;
    margin-left: 10%;
}
.y3 {
    background-color: purple;
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 25px;
    border-radius: 25px;
    border-color: transparent;
    margin-left: 10%;
}
.y4 {
    background-color: purple;
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 25px;
    border-radius: 25px;
    border-color: transparent;
    margin-left: 10%;
}
a:hover {
    color: red;
}
button:hover {
    background-color: transparent;
}
.b5 {
    margin-left: 80px;
}
.b4 {
    margin-left: 80px;
}
.b3 {
    margin-left: 80px;
}
.b2 {
    margin-left: 80px;
}
.b1 {
    margin-left: 180px;
}
a {
    text-decoration: none;
    color: gold;
}
h1 {
    color: white;
    font-family: cursive;
    font-size: 40px;
}
.z {
    margin-left: 25%;
    margin-right: 25%;
    padding: 60px 60px;
    font-size: 25px;
    color: white;
    border-color: white;
    font-family: cursive;
}
.z:hover {
    background-color: transparent;
    border-color: white;
    color: white;
    
}